Package: com.vsz.redeb
Priority: extra
Section: Utilities
Maintainer: T.Herak <50dc856b@opayq.com>
Architecture: iphoneos-arm
Version: 1.0.3
Depends: bash (>= 4.0.17-13), coreutils (>= 8.12-12p), grep (>= 2.5.4-3), sed (>= 4.1.5-7), gawk (>= 3.1.6-2p), apt7 (>= 0.7.25.3-6)
Description: Repackage any of your tweaks locally, without the need to download it from Cydia again. This is super usefull when there is an update of your until now perfectly working tweak in Cydia and you want to make a backup of the version installed. Normally you wouldn't be able to backup anything because it is possible to fetch only the most current version of your tweak and so you would be lost. Not anymore :)))
Name: redeb
Author: T.Herak <50dc856b@opayq.com>
Depiction: https://wiety.github.io/cydia/depictions/?p=com.vsz.redeb
