Package: com.vsz.vobec
Name: vobec
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: remove SB folder blur and SB icon mask blur.
Maintainer: T.Herak
Author: T.Herak
Section: Tweaks
Version: 0.0.1-29
Installed-Size: 192
